<%- include("../partials/header") %>
<%- include("../partials/loading") %>
<%- include("../partials/header-sidebar") %>
<main id="main" class="main">
    <div class="pagetitle">
    <h1>Settings</h1>
    <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Settings</li>
        </ol>
    </nav>
    </div><!-- End Page Title -->
    
    

</main><!-- End #main -->
<%- include("../partials/toaster") %>
<!-- modal -->
<%- include("modal/create") %>
<%- include("../partials/script") %>
<script src="../../assets/js/settings/index.js"></script>
<%- include("../partials/footer") %>