<%- include("../partials/header") %>
<%- include("../partials/loading") %>
<%- include("../partials/header-sidebar") %>
<main id="main" class="main">
    <div class="pagetitle">
        <h1 class="placeholder-glow">
            <span class="pivName">
                <span class="placeholder col-1"></span>
            </span>
        </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/parts">Settibgs</a></li>
                <li class="breadcrumb-item active pivName"></li>
            </ol>
        </nav>
        <div>
            <p>Attendance</p>
        </div>


    </div><!-- End Page Title -->

    
</main><!-- End #main -->
<%- include("../partials/toaster") %>
<%- include("serial/create") %>
<!-- modal -->
<%- include("../partials/script") %>
<%- include("../partials/footer") %>