<!-- Pre fix Legends -->

<!-- di - Device Index -->
<%- include("../partials/header") %>
<%- include("../partials/loading") %>
<%- include("../partials/header-sidebar") %>
<main id="main" class="main">
    <!-- Title Page -->
    <div class="pagetitle d-flex align-items-center">
        <nav>
            <h1>Devices</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Devices</li>
            </ol>
        </nav>
        <button type="button" class="btn btn-success btn-sm ms-auto" data-bs-toggle="modal" data-bs-target="#diCreateModal">
            <i class="bi bi-plus-circle"></i> Add Device
        </button> 
    </div><!-- End Page Title -->
    
    <section class="section">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title p-1 m-0 align-self-center">All Devices</h5>
            </div>
            <div class="card-body">
                <table id="diTable">
                </table>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->
<!-- modal -->
<%- include("modal/device/create") %>
<%- include("../client/modal/client/create") %>

<%- include("../partials/toaster") %>
<%- include("../partials/script") %>

<script src="../../assets/js/device/index.js"></script>
<script src="../../assets/js/device/modal/device/create.js"></script>
<script src="../../assets/js/client/modal/client/create.js"></script>

<%- include("../partials/footer") %>