<%- include("../partials/header") %>
<%- include("../partials/loading") %>
<%- include("../partials/header-sidebar") %>
<!-- dv - Device View -->
<!-- dvd - Device View device -->
<!-- dvc - Device View Client -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1 id="dvdName"></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/Device">Device</a></li>
                <li class="breadcrumb-item active">Device Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <!-- =====================left side ===================-->
            <div class="col-xl-3">
                <!-- Device Information -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span class="me-auto">Device Information</span>
                        <i class="bi bi-pencil-square mx-2" data-bs-toggle="modal" data-bs-target="#deEditModal"></i>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                Type:
                            </div>
                            <div class="col-8">
                                <span id="dvdType"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Brand:
                            </div>
                            <div class="col-8">
                                <span id="dvdBrand"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Model:
                            </div>
                            <div class="col-8">
                                <span id="dvdModel"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Serial Number:
                            </div>
                            <div class="col-8">
                                <span id="dvdSerial"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Created Date:
                            </div>
                            <div class="col-8">
                                <span id="dvdCreatedDate"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Client Information -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span class="me-auto">Client Information</span>
                        <i class="bi bi-pencil-square mx-2" data-bs-toggle="modal" data-bs-target="#cEditModal"></i>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                Name:
                            </div>
                            <div class="col-8">
                                <span id="dvcName"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Business:
                            </div>
                            <div class="col-8">
                                <span id="dvcBusiness"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Email:
                            </div>
                            <div class="col-8">
                                <span id="dvcEmail"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Contact Number:
                            </div>
                            <div class="col-8">
                                <span id="dvcContactNumber"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Address:
                            </div>
                            <div class="col-8">
                                <span id="dvcAddress"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Created Date:
                            </div>
                            <div class="col-8">
                                <span id="dvcCreatedDate"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- =====================Ceneter Content===================-->

            <div class="col-xl-6">
                <!-- Tickets -->
                <div class="card">
                    <div class="card-header">
                        Transaction
                    </div>
                    <div class="card-body">
                        <table id="cvTicketTable" class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Subject</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tk-501</td>
                                    <td>Security Alert – Possible Ransomware Detected</td>
                                    <td>09-13-25</td>
                                    <td>New</td>
                                </tr>
                                <tr>
                                    <td>Tk-502</td>
                                    <td>Slow Computer – Investigation Needed</td>
                                    <td>09-13-25</td>
                                    <td>In Progress</td>
                                </tr>
                                <tr>
                                    <td>Tk-503</td>
                                    <td>New Hire Onboarding – IT Setup Required</td>
                                    <td>09-13-25</td>
                                    <td>Waiting on Customer</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                </div>
                <!-- Quotation -->
                <div class="card">
                    <div class="card-header">
                        Quotations
                    </div>
                    <div class="card-body">
                        <table id="cvTicketTable" class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Subject</th>
                                    <th>Created</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Quo-222</td>
                                    <td>Subject of Ticket</td>
                                    <td>10/17/25</td>
                                    <td>10,000.00</td>
                                </tr>
                                <tr>
                                    <td>Quo-4002</td>
                                    <td>Subject of Ticket</td>
                                    <td>10/18/25</td>
                                    <td>20,000.00</td>
                                </tr>
                                <tr>
                                    <td>Quo-4003</td>
                                    <td>Subject of ticket</td>
                                    <td>10/16/25</td>
                                    <td>30,000.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                </div>
                <!-- Invoice -->
                <div class="card">
                    <div class="card-header">
                        Incoices
                    </div>
                    <div class="card-body">
                        <table id="cvTicketTable" class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Subject</th>
                                    <th>Created</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Inv-222</td>
                                    <td>Subject of Ticket</td>
                                    <td>10/17/25</td>
                                    <td>10,000.00</td>
                                </tr>
                                <tr>
                                    <td>Inv-4002</td>
                                    <td>Subject of Ticket</td>
                                    <td>10/18/25</td>
                                    <td>20,000.00</td>
                                </tr>
                                <tr>
                                    <td>Inv-4003</td>
                                    <td>Subject of ticket</td>
                                    <td>10/16/25</td>
                                    <td>30,000.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>  
                </div>
            </div>
            <!-- =================right side ===================-->
             <!-- dv - device View -->
            <div class="col-xl-3">
                <!-- Images -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span class="me-auto">Images</span>
                        <i class="bi bi-pencil-square mx-2" data-bs-toggle="modal" data-bs-target="#dImageModal"></i>
                    </div>
                    <div class="card-body">
                        <p class="fst-italic mb-0">No Images available.</p>
                    </div>
                </div>
                <!-- Notes -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span class="me-auto">Notes</span>
                        <i class="bi bi-pencil-square mx-2" data-bs-toggle="modal" data-bs-target="#dNotesModal"></i>
                    </div>
                    <div class="card-body">
                        <div id="dvNotes"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
<%- include("../partials/toaster") %>

<!-- modal -->
<%- include("modal/notes/notes") %>
<%- include("../client/modal/client/edit") %>
<%- include("modal/device/edit") %>
<%- include("modal/image/image") %>


<%- include("../partials/script") %>
<script src="../../assets/js/device/view.js"></script>
<script src="../../assets/js/client/modal/client/edit.js"></script>
<script src="../../assets/js/device/modal/notes/notes.js"></script>
<script src="../../assets/js/device/modal/device/edit.js"></script>
<script src="../../assets/js/device/modal/image/image.js"></script>

<%- include("../partials/footer") %>