<!-- Prefix Legends -->

<!-- ci - Client Index -->
<%- include("../partials/header") %>
<%- include("../partials/loading") %>
<%- include("../partials/header-sidebar") %>
<main id="main" class="main">
    <!-- Title Page -->
    <div class="pagetitle d-flex align-items-center">
        <nav>
            <h1>Client</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Client</li>
            </ol>
        </nav>
        <button type="button" class="btn btn-success btn-sm ms-auto" data-bs-toggle="modal" data-bs-target="#cCreateModal">
            <i class="bi bi-plus-circle"></i> Add Client
        </button>
    </div><!-- End Page Title -->
    
    <section class="section">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title p-1 m-0 align-self-center">All Clients</h5>
            </div>
            <div class="card-body">
                <table id="ciTable">
                </table>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- modal -->
<%- include("modal/client/create") %>

<!-- notification -->
<%- include("../partials/toaster") %>

<!-- dependencies -->
<%- include("../partials/script") %>

<!-- JS -->
<script src="/assets/js/client/index.js"></script>
<script src="/assets/js/client/modal/client/create.js"></script>

<%- include("../partials/footer") %>