<!-- Prefix Legends -->

<!-- ci - Client Index -->
<%- include("../partials/header") %>
<%- include("../partials/header-sidebar") %>
<main class="page-wrapper">
    <!-- breadcrumb -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Client</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Client</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end of breadcrumb -->

    <section class="container-fluid">
        <div class="d-flex mb-3">
            <button type="button" class="btn btn-success btn-sm ml-auto" data-toggle="modal" data-target="#cCreateModal">
                <i class="bi bi-plus-circle"></i> Add Client
            </button>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-inline-flex align-items-center justify-content-between w-100 mb-3">
                    <h4 class="card-title">All Client</h4>
                    <div class="mb-3">
                        <input type="text" id="ciSearchInput" class="form-control" placeholder="Search client...">
                    </div>
                </div>
                <table id="ciTable">
                </table>
            </div>
        </div>
    </section>
    

</main><!-- End #main -->

<!-- modal -->
<%- include("modal/client/create") %>

<!-- dependencies -->
<%- include("../partials/script") %>

<!-- JS -->
<script src="/assets/js/client/index.js"></script>
<script src="/assets/js/client/modal/client/create.js"></script>

<%- include("../partials/footer") %>