<%- include("../../partials/header") %>
<%- include("../../partials/loading") %>
<%- include("../../partials/header-sidebar") %>
<!-- prefix tih - transaction inhouse-->
    <main id="main" class="main">
        <div class="pagetitle">
        <h1>In-House</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/transaction">Transactions</a></li>
            <li class="breadcrumb-item active">In-House</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->
        
        <section class="section">
            <div class="card">
                <div class=" card-header d-flex justify-content-between">
                    <h5 class="card-title p-1 m-0 align-self-center">All Transactions</h5>
                    <button type="button" class="btn btn-success m-0 p-1" data-bs-toggle="modal" data-bs-target="#tihCreateModal">
                        <i class="bi bi-file-earmark"></i> Create
                    </button>
                </div>
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <!-- assets/js/transaction/inhouse/index.js -->
                    <table id="tihIndexTable">
                        <thead>
                            <tr>
                                <th>Ticket</th>
                                <th>Name</th>
                                <th>Client</th>
                                <th>Device</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    </a>
<!-- modal -->

<%- include("../../partials/toaster") %>
<%- include("../../partials/script") %>

<!-- script -->
<script src="../../../assets/js/transaction/inhouse/index.js"></script>
<%- include("../../partials/footer") %>