<%- include("../../partials/header") %>
<%- include("../../partials/loading") %>
<%- include("../../partials/header-sidebar") %>
<!-- prefix tih - transaction inhouse-->
    <main id="main" class="main">
        <div class="pagetitle d-flex justify-content-between align-items-center">
            <nav>
                <h1>In-House</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/transaction">Transactions</a></li>
                    <li class="breadcrumb-item active">In-House</li>
                </ol>
            </nav>
            <button type="button" class="btn btn-success ms-auto btn-sm" data-bs-toggle="modal" data-bs-target="#tCreateModal">
                <i class="bi bi-plus-circle"></i> New Transaction
            </button>
        </div><!-- End Page Title -->
        
        <section class="section">
            <div class="card">
                <div class=" card-header ">
                    <h5 class="card-title p-1 m-0 align-self-center">All Transactions</h5>
                </div>
                <div class="card-body">
                    <!-- Table with stripped rows -->
                    <!-- assets/js/transaction/inhouse/index.js -->
                    <table id="tihIndexTable">
                        <thead>
                            <tr>
                                <th>Ticket</th>
                                <th>Name</th>
                                <th>Client</th>
                                <th>Device</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    </a>
<!-- modal -->
<%- include("../modal/transaction/create") %>
<%- include("../../client/modal/client/create") %>

<%- include("../../partials/toaster") %>
<%- include("../../partials/script") %>

<!-- script -->
<script src="../../../assets/js/transaction/inhouse/index.js"></script>
<script src="../../../assets/js/transaction/modal/transaction/create.js"></script>
<script src="../../../assets/js/client/modal/client/create.js"></script>

<%- include("../../partials/footer") %>