<%- include("../partials/header") %>
<input type="hidden" id="clntId" value="<%= JSON.stringify(clntId)%>">
<input type="hidden" id="devId" value="<%= JSON.stringify(devId)%>">
    <div class="container pt-1">
        <nav aria-label="breadcrumb">
            <h3 class="mt-4">Device</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="/client">Client List</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="/client/<%= clntId%>">ClientName</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="/client/<%= clntId %>/device/<%= devId %>">ClientNameDevice</a></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-3 pb-1 container">
                <div>
                    <img  class="img-thumbnail rounded w-75" src="/public/img/noImg.png" alt="">
                </div>
                <div class="mt-2">

                </div>
            </div>
            <div class="col-lg-9">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h1 class="display-4">Device Information</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Job Order [Number] (loop every job order for this deivice)
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Accordion Item #2
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Accordion Item #3
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
            </div>
        </div>
<%#- include("modal/mod-index") %>
<%- include("../partials/script") %>
<%- include("../partials/toaster") %>
<script src="/js/crud.js"></script>
<!-- <script src="/js/client/index.js"></script> -->
<script src="/js/validation.js"></script>
<%- include("../partials/footer") %>