<%- include("../partials/header") %>

    <div class="row mt-2">
        <div class="col-3 d-flex align-items-center">
            <img id="viewClntAvatar"  class="img-thumbnail" style="width: 100%; height: 10rem" >
        </div>
        <div class="col-9">
            <h3 class="text-center mt-5" id="viewClntNm"></h3>
        </div>
    </div>
    
    <!-- address details -->
    <div id="viewClntAddress">
        <strong>Address:</strong>
    </div>
    <!-- contact details -->
    <div id="viewClntContact">
    </div>
    <!-- WoCP /client/WoCP/edit/:clntId -->
    <!-- WCP /client/WCP/edit/:clntId -->
    <strong><a id="viewClntEdit">edit Client</a></strong>
    <strong><a id="viewClntDelete">Delete Client</a></strong>
    <Strong>Device Table</Strong> <br>
    <table>
        <thead>
            <tr>Device</tr>
            <tr>Option</tr>
        </thead>
        <tbody id="viewClntDevTableBody">
        </tbody>
    </table>
    <button type="button" id="viewClntAddDeviceBtn" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modViewClntAddDevice">
        Add Device
    </button>
    <ul class='list-group' id="clntViewDevLst">
    </ul>
                
    
    <%- include("modal/mod-view") %>
    <!-- for modal of edit and Delete -->
    <%#- include("modal/mod-index") %>
    <%- include("../partials/script") %>
    <%- include("../partials/toaster") %>
    <script src="/js/crud.js"></script>
    <!-- for modal of edit and Delete -->
    <script src="/js/client/index.js"></script>
    <script src="/js/client/view.js"></script>
    <script src="/js/validation.js"></script>
<%- include("../partials/footer") %>