<%- include("../partials/header") %>
<%- include("../partials/loading") %>
<%- include("../partials/header-sidebar") %>
<!-- iv = inventory view -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1 id="ivProductName">Product Name</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/inventory">Inventory</a></li>
                <li class="breadcrumb-item active">Product Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <!-- =====================left side ===================-->
            <div class="col-xl-3">
                <!-- Device Information -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span class="me-auto">Product Information</span>
                        <i class="bi bi-pencil-square mx-2" data-bs-toggle="modal" data-bs-target="#ipEditModal"></i>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                Code:
                            </div>
                            <div class="col-7">
                                <span id="ivProductCode"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Type:
                            </div>
                            <div class="col-7">
                                <span id="ivType"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Brand:
                            </div>
                            <div class="col-7">
                                <span id="ivBrand"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Model:
                            </div>
                            <div class="col-7">
                                <span id="ivModel"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Description:
                            </div>
                            <div class="col-7">
                                <span id="ivDescription"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Ideal Price:
                            </div>
                            <div class="col-7">
                                <span id="ivIdealPrice"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                With Serial:
                            </div>
                            <div class="col-7">
                                <span id="ivWithSerial"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Images -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span class="me-auto">Images</span>
                        <i class="bi bi-pencil-square ms-auto mx-2" data-bs-toggle="modal" data-bs-target="#ipiEditModal"></i>
                    </div>
                    <div class="card-body">
                        <div id="ivImageList" class="list-group">
                            <!-- Image items will be appended here -->
                        </div>
                        <!-- <p class="fst-italic mb-0">No Images available.</p> -->
                    </div>
                </div>
                <!-- Notes -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span class="me-auto">Notes</span>
                        <i class="bi bi-pencil-square mx-2" data-bs-toggle="modal" data-bs-target="#ipnEditModal"></i>
                    </div>
                    <div class="card-body">
                        <div id="dvNotes"></div>
                    </div>
                </div>
            </div>
            
            <!-- =====================Ceneter Content===================-->
            <div class="col-xl-5">
                <!-- Supply List -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span class="me-auto">Supply List</span>
                        <i class="bi bi-plus-circle" id="ivAddSupply" data-bs-toggle="modal" data-bs-target=""></i>
                    </div>
                    <div class="card-body">
                        <table id="ivSupplyTable" class="table table-sm text-center">
                        </table>
                    </div>
                </div>
            </div>
            <!-- =================right side ===================-->
            <div class="col-xl-4">
                <!-- Details -->
                <div class="card">
                    <div class="card-header d-flex">
                        <span>Details</span>
                        <i class="bi bi-pencil-square ms-auto mx-2" id="ivEditSupply" data-bs-toggle="modal" data-bs-target="#" hidden></i>
                    </div>
                    <div class="card-body">
                        <input type="hidden" id="ivSupplyId" />
                        <div class="row">
                            <div class="col-5">
                                Serial Number:
                            </div>
                            <div class="col-7">
                                <span id="ivSerialNumber">******************</span>
                            </div>
                        </div>
                        <h6 class="mt-4">Supplier Details</h6>
                        <hr class="mt-0 mb-3"/>
                        <div class="row">
                            <div class="col-5">
                                Supplier Name:
                            </div>
                            <div class="col-7">
                                <span id="ivSupplierName">******************</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Address:
                            </div>
                            <div class="col-7">
                                <span id="ivSupplierAddress">******************</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                               OR Number:
                            </div>
                            <div class="col-7">
                                <span id="ivORNumber">******************</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                               Date Purchased:
                            </div>
                            <div class="col-7">
                                <span id="ivDate">******************</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                               Warranty:
                            </div>
                            <div class="col-7">
                                <span id="ivWarranty">******************</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                               Notes:
                            </div>
                            <div class="col-7">
                                <span id="ivNotes">******************</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                               Cost:
                            </div>
                            <div class="col-7">
                                <span id="ivCost">******************</span>
                            </div>
                        </div>

                        <h6 class="mt-4">Quotation</h6>
                        <hr class="mt-0 mb-3"/>
                        <table>
                            <tr>
                                <td>Quotation details or information can be placed here.</td>
                            </tr>
                        </table>

                        <h6 class="mt-4">Invoice</h6>
                        <hr class="mt-0 mb-3"/>
                        <table>
                            <tr>
                                <td>Invoice details or information can be placed here.</td>
                            </tr>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
<%- include("modal/Supply/add") %>
<%- include("modal/Supply/edit") %>
<%- include("modal/Product/edit") %>
<%- include("modal/Notes/edit") %>
<%- include("modal/Image/edit") %>

<%- include("../partials/toaster") %>
<%- include("../partials/script") %>

<script src="/../../assets/js/inventory/view.js"></script>
<script src="/../../assets/js/inventory/supply/add.js"></script>
<script src="/../../assets/js/inventory/supply/edit.js"></script>
<script src="/../../assets/js/inventory/product/edit.js"></script>
<script src="/../../assets/js/inventory/notes/edit.js"></script>
<script src="/../../assets/js/inventory/image/edit.js"></script>

<%- include("../partials/footer") %> 