<%- include("../../partials/header") %>
<%- include("../../partials/loading") %>
<%- include("../../partials/header-sidebar") %>
    <main id="main" class="main">

        <div class="pagetitle">
        <h1>On-Site</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/transaction">Transactions</a></li>
            <li class="breadcrumb-item active">On-Site</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->
        
        <section class="section">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">All Transactions</h5>
                        <button type="button" class="btn btn-success m-3" data-bs-toggle="modal" data-bs-target="#tosCreateModal">
                            <i class="bi bi-file-earmark"></i> Create
                        </button>
                    </div>
                    <!-- Table with stripped rows -->
                    <!-- assets/js/transaction/inhouse/index.js -->
                    <table id="tosIndexTable">
                        <thead>
                        <tr>
                            <th>Job Order</th>
                            <th>Name</th>
                            <th>Device</th>
                            <th>Bill</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    </a>
<!-- modal create -->
<%- include("modal/create") %>
<%- include("../../partials/toaster") %>
<%- include("../../partials/script") %>
<script src="../../../assets/js/transaction/onsite/index.js"></script>
<%- include("../../partials/footer") %>