<%- include("../../partials/header") %>
<input type="hidden" id="repJo" value="<%= JSON.stringify(foundRepairJo) %>" >
<div class="container pt-1">
    <nav aria-label="breadcrumb">
        <h3 class="mt-4">Edit Repair Job Order</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/service/repair/jo">Repair Job Order List</a></li>
        </ol>
    </nav>
    <!-- body -->
    <form  id="edtRepJo" class="needs-validation" novalidate>
        <div class="input-group input-group-sm my-1">
            <span class="input-group-text col-2 d-flex justify-content-center" id="edtRepJoClntNmLbl">Client Name</span>
            <input type="text" class="form-control" id="edtRepJoClntNm" minlength="1" aria-describedby="edtRepJoClntNmLbl" disabled>
        </div>
        <div class="input-group input-group-sm my-1">
            <span class="input-group-text col-2 d-flex justify-content-center" id="edtRepJoDevNmLbl">Device</span>
            <input type="text" class="form-control" id="edtRepJoDevNm" minlength="1" aria-describedby="edtRepJoDevNmLbl" disabled>
        </div>
        
        <!-- service cat/type/ticket -->
        <div class="row">
            <div class="col-3">
                <!-- joborder number -->
                <div class="input-group input-group-sm my-1">
                    <span class="input-group-text col-4 d-flex justify-content-center" id="edtJoRepSvcsJoNumLbl">JO#</span>
                    <input type="text" class="form-control" id="edtJoRepSvcsJoNum" minlength="1" aria-describedby="edtJoRepSvcsJoNumLbl" disabled>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm my-1">
                    <span class="input-group-text col-4 d-flex justify-content-center" id="edtJoRepSvcsCatLbl">Category</span>
                    <input type="text" class="form-control" id="edtJoRepSvcsCat" aria-describedby="edtJoRepSvcsCatLbl" disabled>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm my-1">
                    <span class="input-group-text col-4 d-flex justify-content-center" id="edtJoRepSvcsTypeLbl">Type</span>
                    <input type="text" class="form-control" id="edtJoRepSvcsType" aria-describedby="edtJoRepSvcsTypeLbl" disabled>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm my-1">
                    <span class="input-group-text col-4 d-flex justify-content-center" id="edtJoRepSvcsTicketLbl">Ticket</span>
                    <input type="text" class="form-control" id="edtJoRepSvcsTicket" aria-describedby="edtJoRepSvcsTicketLbl" disabled>
                </div>
            </div>
        </div>
        <hr>
        <!-- service -->
        <div class="row">
            <div class="col-7 pe-1">
                <div class="input-group input-group-sm my-1">
                    <span class="input-group-text col-4 d-flex justify-content-center" id="edtJoRepSvcsRecvByLbl">Recieved by</span>
                    <input type="text" class="form-control" id="edtJoRepSvcsRecvBy" aria-describedby="edtJoRepSvcsRecvByLbl" required>
                </div>
            </div>
            <div class="col-5 ps-1">
                <!-- https://bootstrap-datepicker.readthedocs.io/en/latest/markup.html -->
                <div class="input-group input-group-sm my-1">
                    <span class="input-group-text col-4 d-flex justify-content-center" id="edtJoRepSvcsRecvDateLbl">Recived Date</span>
                    <input type="date" class="form-control" id="edtJoRepSvcsRecvDate" aria-describedby="edtJoRepSvcsRecvDateLbl" required>
                </div>
            </div>
        </div>
        <div class="input-group input-group-sm my-1">
            <span class="input-group-text col-2 justify-content-center" id="edtJoRepSvcsTroubleLbl">Trouble</span>
            <textarea class="form-control" id="edtJoRepSvcsTrouble" aria-describedby="edtJoRepSvcsTroubleLbl" required></textarea>
        </div>
        Note: image only but on the future video will be supported
        <div class="input-group input-group-sm my-1">
            <input type="file" class="form-control" name="edtJoRepSvcsTroubleFile" multiple accept="image/png, image/gif, image/jpeg">
        </div>
        <!-- view uploaded images -->
        <div id="edtJoRepSvcsTroubleFileView">
            <div class="row">
            </div>
        </div>
        <div class="input-group input-group-sm my-1">
            <span class="input-group-text col-2 d-flex justify-content-center" id="edtJoRepSvcsChargeLbl">Service Charge</span>
            <span class="input-group-text">₱</span>
            <input type="text" class="form-control" id="edtJoRepSvcsCharge" aria-describedby="edtJoRepSvcsChargeLbl" required>
            <span class="input-group-text">.00</span>
        </div>
        <hr>
        <!-- Dynamic add draft material -->
        <a class="btn btn-primary btn-sm d-flex justify-content-center" id="edtJoRepSvcsAddDraftMat">Add Draft Material</a>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success btn-sm">Save</button>
        </div>
    </form>
</div>

<%- include("../../partials/script") %>
<%- include("../../partials/toaster") %>
<script src="/js/service/repairJobOrder/edit-repair-jo.js"></script>
<script src="/js/crud.js"></script>
<script src="/js/validation.js"></script>
<%- include("../../partials/footer") %>