<%- include("../../partials/header") %>
    <div class="container pt-1">
        <h3 class="mt-4">Repair Job Order</h3>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-success btn-sm" id="crtRepairJobOrderBtn" data-bs-toggle="modal" data-bs-target="#modCrtServiceType">Create Job Order</button>
        </div>
        <div class="border rounded-3 mt-2 px-sm-5 py-3">
            <table id="tblRepairJo" class="table-responsive-md w-100">
                <thead>
                    <tr>
                        <td class="text-center">Job Order</td>
                        <td class="text-center">Type</td>
                        <td class="text-center">Device</td>
                        <td class="text-center">Client</td>
                        <td class="text-center">Status</td>
                        <td class="text-center">Action</td>
                    </tr>
                </thead>
                <tbody id="tblRepairJoTbody">
                </tbody>
            </table>
        </div>

    <%- include("../mod-serviceType.ejs") %>
    <%- include("modal/mod-index.ejs") %>
    <%- include("../../partials/script") %>
    <%- include("../../partials/toaster") %>
    <script src="/js/crud.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/service/repairJobOrder/index.js"></script>
<%- include("../../partials/footer") %>